@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700&family=Rubik:ital,wght@0,500;0,600;1,500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #CAC7C4    ;
    font-family: 'Inter Tight', sans-serif;
}

a{
    all: unset;
}

.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.bcard{
    width: 31.7rem;
    margin: 1rem;
}

/* Header Styles*/

.bcard__profile-img{
    width: 31.7rem;
    height: 31.7rem;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    object-position: top right;
}

.bcard__body{
    background-color: #006d77;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: center;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.bcard__heading-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;

}

    .bcard__heading-wrapper * + *{
        margin-top: 0.5em;
    }